@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
.colours{
  --bg-element-colour_1: #6F23D9;
  --bg-element-colour_2: #6727F2;
  --footer: #2E294E;
  --background: #010440;

}
.title{
  color:white;
  font-family: 'Play', sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  text-shadow: 0 0 20px blue;

}
.one-div-to-hold-them-all{
  display: grid;
  padding-left: 0;
  position: relative;
  height: 200px;
  text-shadow: none;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.blurredOutTable{
  display: grid;
  padding-left: 0;
  position: relative;
  height: 200px;
  margin-right: -1px;
  text-shadow: none;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(10, 1fr);
  filter: blur(20px);
  -webkit-filter: blur(20px);
}
.square{
  display: flex;
  position: relative;
	z-index: 1;
	cursor: default;
  transition: all 0.3s ease;
  background-color: var(--background);
}
.disappear{
  display: none;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:var(--footer);
  color: white;
  text-align: center;
}