.table-grid{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-rows: repeat(7, 25%);  
  .__column{
    margin-top: auto;  
  }

}
.section_one{
color:white;
}
.section_two{
  color:white;
}
.section_three{
  padding: 50px;

}
.section_four{
  padding: 50px;

}
.section_five{
  padding-top:50px;
}

//   grid-template-areas:
//  'a	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	c
//  a	a	.	.	.	.	.	.	.	.	.	.	c	c	c	c	c
//  a	a	.	.	.	.	.	.	.	.	.	.	c	c	c	c	c
//  a	a	a	b	b	b	b	b	b	b	b	b	c	c	c	c	c
//  a	a	a	b	b	b	b	b	b	b	b	b	c	c	c	c	c
//  a	a	a	b	b	b	b	b	b	b	b	b	c	c	c	c	c
//  a	a	a	b	b	b	b	b	b	b	b	b	c	c	c	c	c
//  .	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.
//  .	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.
//  .	.	.	d	d	d	d	d	d	d	d	d	d	d	d	d	.
//  .	.	.	d	d	d	d	d	d	d	d	d	d	d	d	d	.';
// }